body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000;
    color: white;
}

#header {
    width: 100%;
    background-color: #000;
    color: white;
    text-align: left;
    padding: 18px 15px;
    position: fixed;
    top: 0;
    z-index: 2;
    font-size: 20px;
}

#sidebar {
    height: 100vh;
    width: 300px; /* Aumentado de 250px para 300px */
    position: fixed;
    z-index: 1;
    top: 60px; /* Ajustado para baixo para acomodar o cabeçalho */
    left: 0;
    background-color: #000;
    overflow-x: hidden;
    padding-top: 20px;
    border-right: 2px solid white; /* Linha vertical branca */
}

#sidebar a {
    padding: 20px 15px; /* Aumento do padding para maior altura por item */
    text-decoration: none;
    font-size: 18px;
    color: white;
    display: block;
}

#sidebar a:hover {
    background-color: white;
    color: black; /* Letras pretas no hover */
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000;
    color: white;
}

/* ... outros estilos ... */

#main-content {
    margin-left: 300px;
    padding: 80px 20px 20px 20px; /* Aumento do padding superior para acomodar o cabeçalho */
    transition: margin-left .5s;
    text-align: center;
}

#main-content h2 {
    margin-bottom: 20px;
}

#main-content label {
    display: block;
    margin-top: 20px;
    color: white;
    text-align: center;
}

#main-content input[type="text"] {
    width: calc(100% - 500px); /* Calcula a largura menos o padding */
    padding: 10px;
    margin-top: 5px;
    border: 1px solid white;
    background-color: #333;
    color: white;
}

#main-content small {
    display: block;
    margin-top: 5px;
    color: #ddd;
    font-size: 12px;
    text-align: center;
}

button#registerTypeZap {
    padding: 10px 20px;
    margin-top: 20px;
    background-color: #5cb85c;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 18px; /* Tamanho da fonte maior para o botão */
}

button#registerTypeZap:hover {
    background-color: #4cae4c;
}

/* Estilos para os ícones do FontAwesome */
.fas {
    margin-right: 10px;
    color: #ddd; /* Cor dos ícones ajustada */
}

/* Estilos para a lista de fluxos */
#fluxosWrapper {
    color: white;
    text-align: center;
    margin-top: 20px;
}

#fluxosList {
    background-color: #333; /* Fundo um pouco mais claro do que o background total */
    border-radius: 8px;
    margin-bottom: 20px;
}

#fluxosList table {
    width: 100%;
}

#fluxosList th, #fluxosList td {
    text-align: center;
    padding: 12px;
    border-bottom: 1px solid #777; /* Linhas separadoras mais sutis */
}

#fluxosList tr:hover {
    background-color: #555; /* Efeito hover para as linhas */
}

#fluxosList th {
    position: sticky;
    top: 0;
    background-color: #007bff;
    border-bottom: 3px solid #0056b3; /* Linha mais escura abaixo do cabeçalho para definição */
}

/* Botões de ação */
.deleteFluxo i {
    cursor: pointer;
}

/* Botões abaixo da lista */
#fluxosWrapper button {
    padding: 10px 20px;
    margin-right: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 16px; /* Ajuste para os botões serem consistentes */
}

#atualizarLista, #adicionarFluxo, #atualizarListaRapida, #adicionarRespostaRapida, #atualizarGrupo, #atualizarListaRmkt, #adicionarRmkt {
    background-color: #007bff;
    color: white;
}

#atualizarLista:hover, #adicionarFluxo:hover, #atualizarListaRapida:hover, #adicionarRespostaRapida:hover, #atualizarGrupo:hover, #atualizarListaRmkt:hover, #adicionarRmkt:hover {
    background-color: #0056b3; /* Um azul mais escuro para o hover */
}

/* Estilizando os inputs do modal de adição de fluxo */
input[type="text"] {
    width: 80%; /* Ajuste para que os inputs não ocupem 100% da largura */
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #555;
    border-radius: 4px;
    background-color: #222;
    color: white;
}

#addFluxoModalBackdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1050; /* Garantir que o modal apareça acima de outros conteúdos */
}

#addFluxoModal {
    background-color: #222;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    width: 500px; /* Ajuste conforme necessário */
}

#addFluxoModal input[type="text"] {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #555;
    border-radius: 4px;
    background-color: #222;
    color: white;
}

#addFluxoModal button {
    padding: 10px 20px;
    margin-top: 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

#closeModal {
    float: right;
    cursor: pointer;
    color: white;
    font-size: 24px;
}

#carregarLeads {
    background-color: #333; /* Cor de fundo */
    padding: 20px; /* Espaçamento interno */
    border-radius: 8px; /* Bordas arredondadas */
    margin: 30px auto; /* Centralizar e dar espaço no topo */
    max-width: 600px; /* Largura máxima */
    box-shadow: 0 2px 4px rgba(0,0,0,0.5); /* Sombreamento para dar profundidade */
    text-align: center; /* Centralizar o texto e os elementos dentro */
}

#carregarLeads h2 {
    color: #fff; /* Cor do texto */
    margin-bottom: 20px; /* Espaçamento abaixo do título */
}

#fileInput, #uploadButton {
    width: 90%; /* Largura ajustada */
    padding: 10px; /* Espaçamento interno */
    margin: 10px auto 20px; /* Margem para espaçamento e centralização */
    display: inline-block; /* Permitir o alinhamento inline */
}

#fileInput {
    border: 1px solid #555; /* Borda */
    border-radius: 4px; /* Bordas arredondadas */
    background-color: #222; /* Cor de fundo do input */
    color: white; /* Cor do texto */
}

#uploadButton {
    background-color: #007bff; /* Cor de fundo */
    color: white; /* Cor do texto */
    border: none; /* Remover borda */
    border-radius: 4px; /* Bordas arredondadas */
    cursor: pointer; /* Cursor do mouse */
    font-size: 16px; /* Tamanho do texto */
    transition: background-color 0.2s; /* Transição suave */
}

#uploadButton:hover {
    background-color: #0056b3; /* Cor de fundo ao passar o mouse */
}

.file-upload-wrapper {
    position: relative;
    width: 90%;
    margin: 20px auto;
}

.file-upload-input {
    width: 100%;
    height: 40px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    cursor: pointer;
}

.file-upload-button, #uploadButton {
    display: block; /* Faz com que cada botão ocupe a linha inteira */
    width: calc(100% - 20px); /* Ajuste para a largura com base no padding */
    margin: 10px auto; /* Centraliza o botão */
    padding: 10px;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.2s;
}

.file-upload-button {
    background-color: #007bff; /* Azul para o botão de seleção de arquivo */
}

#uploadButton {
    background-color: #28a745; /* Verde para o botão de envio */
}

.file-upload-text {
    text-align: center;
    margin-top: 5px;
    font-size: 14px;
    color: #fff;
}

#massMessageDispatch {
    text-align: center;
    margin-top: 20px;
    background-color: #222; /* Adicionando um fundo */
    padding: 20px; /* Espaço interno */
    border-radius: 10px; /* Bordas arredondadas */
}

.input-group {
    margin-bottom: 20px; /* Espaçamento entre os grupos de entrada */
}

.input-group div {
    display: inline-block;
    width: 48%; /* Ajuste para que fiquem lado a lado com uma pequena margem */
    margin-right: 4%; /* Espaço entre os campos */
}

.input-group div:last-child {
    margin-right: 0; /* Removendo a margem do último elemento */
}

.input-group label {
    display: block;
    margin: 10px auto;
    color: white; /* Ajuste para a cor do texto */
}

.buttons-group {
    margin-top: 20px;
    text-align: center; /* Centralizar botões */
}

.buttons-group button {
    padding: 10px 20px;
    margin: 0 10px; /* Espaço entre os botões */
    width: auto; /* Auto para o tamanho do texto */
    display: inline-block; /* Para ficarem lado a lado */
}

/* Estilo inicial para iniciar campanha */
#iniciarCampanha {
    background-color: #4CAF50; /* Verde */
    color: white;
    transition: background-color 0.3s; /* Suaviza a transição da cor de fundo */
}

/* Estilo de hover para iniciar campanha */
#iniciarCampanha:hover {
    background-color: #43A047; /* Um verde um pouco mais escuro */
}

/* Estilo inicial para parar campanha */
#pararCampanha {
    background-color: #f44336; /* Vermelho */
    color: white;
    transition: background-color 0.3s; /* Suaviza a transição da cor de fundo */
}

/* Estilo de hover para parar campanha */
#pararCampanha:hover {
    background-color: #e53935; /* Um vermelho um pouco mais escuro */
}

select, input[type="number"] {
    padding: 10px;
    margin: 5px 0;
    width: 100%; /* Ajuste para ocupar todo o espaço */
    background-color: #333; /* Cor de fundo */
    color: white; /* Cor do texto */
    border: 1px solid #555; /* Borda */
    border-radius: 4px; /* Bordas arredondadas */
}

/* Ajuste para sobrepor ao estilo padrão do #main-content */
#massMessageDispatch input[type="number"], 
#massMessageDispatch select {
    width: 95%; /* Ajuste para a largura em relação ao padding */
}

/* Estilo para o label do select que não estava definido */
#massMessageDispatch label {
    color: white;
}

/* Adiciona uma classe para os grupos de inputs que devem ficar na mesma linha */
.input-group-inline {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px; /* Espaçamento entre os grupos de entrada */
}

.input-group-inline > div {
    flex: 1; /* Os filhos do grupo ocupam o espaço disponível igualmente */
    margin-right: 10px; /* Espaço entre os campos */
}

.input-group-inline > div:last-child {
    margin-right: 0; /* Removendo a margem do último elemento */
}

/* Sobrescreve o estilo anterior para inputs dentro do .input-group-inline */
.input-group-inline input[type="number"] {
    width: 95%; /* Ajuste para a largura em relação ao padding */
}

/* Estilo padrão dos links */
#sidebar a {
    color: white; /* Cor padrão do texto */
    text-decoration: none;
    padding: 20px 15px;
    display: block;
    font-size: 18px;
}

/* Estilo padrão dos ícones do FontAwesome */
#sidebar a .fas {
    color: white; /* Cor padrão dos ícones */
}

/* Estilo do hover para os links */
#sidebar a:hover {
    background-color: white;
    color: black; /* Altera a cor do texto para preto */
}

/* Estilo do hover para os ícones dentro dos links */
#sidebar a:hover .fas {
    color: black; /* Altera a cor dos ícones para preto */
}

.campaign-status {
    margin-bottom: 20px;
    margin-top: 20px;
    padding: 10px;
    background-color: #ddd;
    color: #333;
    border-radius: 4px;
    border: 1px solid #ccc;
    text-align: center;
}

.buttons-group {
    display: flex;
    justify-content: center;
    gap: 10px; /* Espaçamento entre os botões */
}

.buttons-group button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.buttons-group button:hover {
    background-color: #0056b3;
}

/* Botões comuns */
.buttons-group button:hover {
    opacity: 0.8; /* Torna o botão um pouco transparente quando o mouse passa sobre ele */
}

#qrCodeContainer {
    padding: 20px;
    background-color: #333;
    border-radius: 10px;
}

#qrCode {
    width: 200px;
    height: 200px;
    margin: 20px 0;
}

#reconnectInstance {
    padding: 10px 20px;
    margin-top: 20px;
    background-color: #4CAF50; /* Verde */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 16px;
}

#reconnectInstance:hover {
    background-color: #43A047; /* Um verde um pouco mais escuro */
}

/* ... Estilos responsivos e outros se necessário ... */

